<h1>Register new User</h1>
<div class="row">
    <div class="col-md-4">
        <form [formGroup]="userFormGroup" (ngSubmit)="addUser()" #createUserForm="ngForm">
          <div *ngIf="invalidEmail" class="alert alert-danger">
            Please enter a valid email address
          </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" formControlName="email" placeholder="example: emailaddress@website.com"/>
              </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Enter your password"/>
              </div>
              <div class="form-group">
                <label>Full Name</label>
                <input type="text" class="form-control" formControlName="fullname" placeholder="Enter your full name"/>
              </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" [routerLink]="['../../']">Back to List</a>
</div>
